.mw-longcite-msgtyp-error {
    color:red;
}
.mw-longcite-msgtyp-warning {
    color:orange;
}
.mw-longcite-msgtyp-note {
    color:blue;
}
.mw-longcite-msgtyp-debug {
    color:blue;
}
.mw-longcite-msgtyp-trace {
    color:teal;
}
.mw-longcite-pv-recogitem {
    font-style: normal;
}
.mw-longcite-pv-unrecogitem {
    font-family: "Comic Sans MS","Impact","sans-serif";
}
.mw-longcite-refdef-hang {
    padding-left: 25px;
    text-indent: -25px;
}
