.mw-longcite-msgtyp-error {
    color:red;
}
.mw-longcite-msgtyp-warning {
    color:orange;
}
.mw-longcite-msgtyp-note {
    color:blue;
}
.mw-longcite-msgtyp-debug {
    color:blue;
}
.mw-longcite-msgtyp-trace {
    color:teal;
}
